.body {
    padding: 0;
    background-color: #c4b58c;
    margin: 0;
    height: 100vh;
}

.main-container {
    background-color: #82c7c3;
    height: 100vh;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* .list-container {
    
} */