body {
    margin: 0;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    height: 70px;

    
}
.header__name {
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 160px;
}

.header__settings {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__setting__item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header__name__todo {
    color: red;
    font-size: 30px;
}

.border {
    height:20px;
    width: 100vw;
    border-top:1px solid #7c858a;
    padding-left:10px
}

.main__container {
    width: 720px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px groove black;
    border-radius: 10px;
}

.form__input {
    margin-top: 10px;
    width: 500px;
    background-color: rgb(230, 230, 165);
}

.table__item {
    margin: 15px;
}